<div class="collection sidebarItens">
    <a href="/" class="collection-item" ng-class="{active: activetab == 'home'}">Home</a>
    <a href="#!contato" class="collection-item" ng-class="{active: activetab == 'contato'}">Contato</a>
</div>