 <nav class="header">
    <div class="nav-wrapper blue-grey darken-4 ">
      <a href="#" class="brand-logo">{{titulo}}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down ">
        <li><a href="/">Home</a></li>
        <li><a href="#!/contato">Contato</a></li>
      </ul>
    </div>
  </nav>