<div class="hInfo">
    <span class="hardInfo">
        <div class="info">CPU: %</div>
        <div class="infoItem"> Total: {{cpuUse | number :2}} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
    </span>
    <span class="hardInfo">
        <div class="info">MEM: %</div>
        <div class="infoItem">Total: {{memTotal}} ({{((memTotal/1000) | number :0)*1}} GB) </div>
        <div class="infoItem">In Use: {{memTotal-memFree}} ({{(((memTotal-memFree)/1000) | number :2)*1}} GB) </div>
        <div class="infoItem">Buffer: {{memBuffer}} ({{(memBuffer/1000) | number:2}} GB)</div>
        <div class="infoItem">Free+Buffer: {{memFree}} ({{(memFree/1000) | number:2}} GB)</div>
        <div class="infoItem">Free: {{memFreeWbuffer}} ({{(memFreeWbuffer/1000) | number:2}} GB)</div>
        
    </span>    
    <span class="hardInfo">
        <div class="info">Load: %</div>
        <div class="infoItem"> {{ load }} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
        <div class="infoItem"> {{cpuFiltered}} </div>
    </span>   
</div>
<div class="tInfo" id="proccess">
    <table class="striped" ng-controller="indexController">
        <div class="info">Processos do sistema
        <input type="text" ng-model="search" placeholder="Processos, Ususarios">
        </div>
        <thead>
            <tr>
                <th>
                    <a class="tBtn" ng-click="sortBy('USER')">
                        User:
                        <span class="sortorder" ng-show="propertyName === 'USER'"  class="btn grey" ng-class="{reverse: reverse}"></span></a>
                </th>
                <th><a class="tBtn" ng-click="sortBy('CPU')"> 
                    Cpu%:<span class="sortorder" ng-show="propertyName === 'CPU'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th><a class="tBtn" ng-click="sortBy('MEM')"> 
                    MEM%:<span class="sortorder" ng-show="propertyName === 'MEM'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th><a class="tBtn" ng-click="sortBy('TTY')"> 
                    TTY:<span class="sortorder" ng-show="propertyName === 'TTY'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th><a class="tBtn" ng-click="sortBy('STAT')"> 
                    Stat:<span class="sortorder" ng-show="propertyName === 'STAT'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th><a class="tBtn" ng-click="sortBy('START')"> 
                    Start:<span class="sortorder" ng-show="propertyName === 'START'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th><a class="tBtn" ng-click="sortBy('TIME')"> 
                    Time:
                    <span class="sortorder" ng-show="propertyName === 'TIME'" ng-class="{reverse: reverse}"></span>
                    </a></th>
                <th class="comm"><a class="tBtn" ng-click="sortBy('COMMAND')"> 
                    Command:
                    <span class="sortorder" ng-show="propertyName === 'COMMAND'" ng-class="{reverse: reverse}"></span>
                    </a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ps in proccessList.json | filter:search | orderBy:propertyName:reverse"> 
                <td>{{ps.USER}}</td> 
                <td>{{ps.CPU}}</td>
                <td>{{ps.MEM}}</td>
                <td>{{ps.TTY}}</td>
                <td>{{ps.STAT}}</td>
                <td>{{ps.START}}</td>
                <td>{{ps.TIME}}</td>
                <td class="comm">{{ps.COMMAND}}</td>
            </tr>
        </tbody>
    </table>
</div>
