 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{titulo}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/udemy/">Home</a></li>
        <li><a href="/udemy/#!contato">Contato</a></li>
      </ul>
    </div>
  </nav>