        <div ng-include="'templates/_nav.html'"></div>
        <main class="container">
            <header class="container">
                <h2 ng-bind="titulo"></h2>
            </header>
            <div class="row">
                <input type="text" ng-model="busca.nome" placeholder="Busca">
                <input type="text" ng-model="busca.email" placeholder="Busca">
            </div>
            <table class="striped" >
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nota1</th>
                        <th>Nota2</th>
                        <th>Nota3</th>
                        <th>Média</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter:busca">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{aluno.media}}</td>
                        <td><button class="btn blue" ng-click='editarAluno(aluno)'>Editar</button>
                            <button class="btn red" ng-click='deletarAluno(aluno)'>Deletar</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">

                    <div class="row">
                        <h4 ng-if="!editando">Adicionar Aluno</h4>
                        <h4 ng-if="editando">Editar Aluno</h4>
                         <div class="input-field col m6 s6">
                          <input type="text" ng-model="aluno.nome" class="validate">
                          <label for="nome">Nome</label>
                        </div>            
                        <div class="input-field col m6 s6">
                          <input type="text" ng-model="aluno.email" class="validate">
                          <label for="email">E-Mail</label>
                        </div>
                        <div class="input-field col m6 s6">
                          <input type="number" ng-model="aluno.nota1" class="validate">
                          <label for="nota1">nota1</label>
                        </div>
                        <div class="input-field col m6 s6">
                          <input type="number" ng-model="aluno.nota2" class="validate">
                          <label for="nota2">nota2</label>
                        </div> 
                        <div class="input-field col m6 s6">
                          <input type="number" ng-model="aluno.nota3" class="validate">
                          <label for="nota3">nota3</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat " ng-click="limpaForm()">Cancelar</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue" ng-click="addAluno(aluno)">Adicionar</a>
                </div>
            </div>
        </main>