/*layout*/
#main{
    background-color: #eee;
    right: 0px;
    bottom: 5px;
    top: 45px;
    padding: 5px;
    position: absolute;
    overflow-y: auto;
}
.header{
    height: 45px;
    line-height: 45px;
}
#sidebar {
    top: 45px;  
    padding: 0px;
    border: 0px;
}
.sidebarItens{
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}
/*decoracao*/
.collection .collection-item.active {
    background-color: #eee;
    color: #000;
}
.collection a.collection-item{
    color: #000;
}
.info{
    background-color: #555;
    color: #fff;
    padding: 2px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}
.infoItem{
    background-color: #ddd;
    padding-left: 10px;
    margin-bottom: 1px;
}
.tInfo {
    border :1px solid #000;
}
.comm{
    width: 100%;
    text-align: left;
}


/*tabela com cabeçalho fixo*/
thead{
    display: block;
}
tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
}
th {
    padding: 0px;
    max-width: 62px;
    min-width: 62px;
    text-align: center;
}
td {
    padding: 0px;
    max-width: 62px;
    min-width: 62px;
    text-align: center
}
.hardInfo{
    width: 33%;
    height: 150px;
    border: 1px solid #000;
    margin-bottom: 5px;
    border-radius: 3px;
    display: inline-table;
    
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
.tBtn{
    height: 20px;
    width: 60px;
    vertical-align: middle;
    text-align: center;
}
.tBtn, a{
    color: #000;
}
.tBtn, a:hover{
    cursor: pointer;
}